<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    <section>
        <form action="/users/register" method="post">
            <h2>Register</h2>
            <div class="">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="">
                <button type="submit">Register</button>
            </div>
        
        </form>
        <form action="/users/login" method="post">
            <h2>Login</h2>
            <div class="">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="">
                <button type="submit">Login</button>
            </div>
        </form>
    </section>


    
</body>
</html>